# Arithmetic Operation

In [70]:
import pandas as pd
df=pd.DataFrame([[1,2,3,4,5]], columns=['A', 'B', 'C', 'D', 'E'])
df

   A  B  C  D  E
0  1  2  3  4  5

In [24]:
# We use // for getting the output without floating point
5//2

2

In [25]:
# We use double steric sign for geeting the sqare value
2**4

16

In [26]:
# We use ** and (1/2) for getting the square root of the value

4**(1/2)

2.0

In [54]:
b=1
b

1

In [55]:
b=b+2

In [56]:
b

3

In [57]:
# b+=4=>b=b+4
b+=4

In [58]:
b

7

In [59]:
a=2
b=4

In [60]:
a>b

False

In [61]:
a<b

True

In [62]:
a=4
b=6
a>=b

False

In [63]:
a<=b

True