# Data Types

In [89]:
# 4 types
int
float
str
bool

bool

In [90]:
a=5
type(a) # Whole number

int

In [91]:
a=3.1
type(a) # Decimal values # float

float

In [92]:
a='Hello'
type(a) # Should be in inverted comma(single/double)

str

In [93]:
a='h'
type(a) # In python all is string there is no char type data. So, what ever we write in single or double inverted comma that will be string type data

str

In [94]:
a='''Hello
World'''
type(a) # Doc string

str

In [95]:
b=True
type(b)

bool

# String

In [30]:
string="Md. Mizanur Rahman"
string1="I am 24 years old."
a="Mizanur"
b="Rahman"

In [11]:
# Counts how many particular elements are in the string
print("The number of n are in the string is: ",+string.count("n"))

The number of n are in the string is:  2

In [12]:
# Splits the the whole string into words
print("Spliting the string into words are: ",string.split())

Spliting the string into words are:  ['Md.', 'Mizanur', 'Rahman']

In [32]:
print("After joining a and b we get: ")
print("".join([a,b]))

After joining a and b we get:
Mizanur Rahman

In [28]:
print("Finding occurance in string is: ",string.find("Rahman"))

Finding occurance in string is:  12

In [31]:
print("After replacing 25 at 24 we get the output: ",string1.replace("24","25"))

After replacing 25 at 24 we get the output:  I am 25 years old.

In [34]:
print("After concatenation a and b we get: ",a+" "+b)

After concatenation a and b we get:  Mizanur Rahman

# Data Structures

In [96]:
# 4 Types
list
set 
tuple
dict

dict

# List

In [1]:
l=[2,3,4, 'hello', True, -1, 5.2]
type(l), len(l)

(list, 7)

In [2]:
l[3]

'hello'

In [3]:
l.index(-1)

5

In [100]:
# Forward indexing

In [101]:
l[1:4+1] # We must add 1 with the ending index
            # list[s_i:e_i+1]

[3, 4, 'hello', True]

In [102]:
l[:4]

[2, 3, 4, 'hello']

In [103]:
l[4:]

[True, -1, 5.2]

In [104]:
# If we want to get the value with gap we must write s_i:e_i:gap+1
l[0:6+1:1+1]

[2, 4, True, 5.2]

In [105]:
l[-1] # if we write index[-1], we will get the lasf element of the list

5.2

In [106]:
# Negative indexing

In [107]:
l[-6:-2]

[3, 4, 'hello', True]

In [108]:
l[-3:] # Here 0 will no be accepted to we just keep it empty

[True, -1, 5.2]

In [109]:
l[-2:-6:-1]

[-1, True, 'hello', 4]

In [110]:
# Reverse indexing
l[-6:-1], l[-2:-7:-1] # additional -1 is used for negative indexing

([3, 4, 'hello', True, -1], [-1, True, 'hello', 4, 3])

In [1]:
l=[3,5,6,7,8,8,8,9,2]
len(l)

9

In [112]:
min(l)

2

In [113]:
max(l)

9

In [114]:
l.count(8)

3

In [115]:
sum(l) # Here sum in in built function

56

In [2]:
l.reverse()
l

[2, 9, 8, 8, 8, 7, 6, 5, 3]

In [3]:
l.sort() # Here sort() is attribute when it is used after doc
l

[2, 3, 5, 6, 7, 8, 8, 8, 9]

In [118]:
l.sort(reverse=True)
l

[9, 8, 8, 8, 7, 6, 5, 3, 2]

In [119]:
print(l)

[9, 8, 8, 8, 7, 6, 5, 3, 2]

In [120]:
l.sort()
l

[2, 3, 5, 6, 7, 8, 8, 8, 9]

In [121]:
l.sort(reverse=True)
l

[9, 8, 8, 8, 7, 6, 5, 3, 2]

In [122]:
List2=[2,3,1,45,6,6,8,7,100]
#add-->append, insert, extend,+
#remove-->remove, pop, del

In [123]:
List2.append(600)
List2

[2, 3, 1, 45, 6, 6, 8, 7, 100, 600]

In [124]:
List2.insert(2,1000) # insert is used for adding a value in a specific position
List2

[2, 3, 1000, 1, 45, 6, 6, 8, 7, 100, 600]

In [125]:
List3=[30,4,46,676,7]
List2+List3

[2, 3, 1000, 1, 45, 6, 6, 8, 7, 100, 600, 30, 4, 46, 676, 7]

In [126]:
List2

[2, 3, 1000, 1, 45, 6, 6, 8, 7, 100, 600]

In [127]:
List2.extend(List3)

In [128]:
List2

[2, 3, 1000, 1, 45, 6, 6, 8, 7, 100, 600, 30, 4, 46, 676, 7]

In [129]:
List3

[30, 4, 46, 676, 7]

In [130]:
List3.extend(List2)

In [131]:
List3

[30, 4, 46, 676, 7, 2, 3, 1000, 1, 45, 6, 6, 8, 7, 100, 600, 30, 4, 46, 676, 7]

In [132]:
List3.remove(7)

In [133]:
List3

[30, 4, 46, 676, 2, 3, 1000, 1, 45, 6, 6, 8, 7, 100, 600, 30, 4, 46, 676, 7]

In [134]:
List3.remove(7)

In [135]:
List3.remove(7)

In [136]:
List3

[30, 4, 46, 676, 2, 3, 1000, 1, 45, 6, 6, 8, 100, 600, 30, 4, 46, 676]

In [137]:
List3.pop(-1) # removes the last element

676

In [138]:
List3

[30, 4, 46, 676, 2, 3, 1000, 1, 45, 6, 6, 8, 100, 600, 30, 4, 46]

In [139]:
del(List1) # Deletes the list permanently
List1

NameError: name 'List1' is not defined

In [4]:
List2.clear() # clear just removes the element, won't delete the whole list
List2

NameError: name 'List2' is not defined

In [37]:
# Converting string to list
lst=[]
for char in "Mizanur Rahman":
    lst.append(char)
print(lst)

['M', 'i', 'z', 'a', 'n', 'u', 'r', ' ', 'R', 'a', 'h', 'm', 'a', 'n']

In [39]:
# Converting tuple to list
lst1=[]
Tup=(1,2,3,4,5)
for i in Tup:
    lst1.append(i)
print(lst1)

[1, 2, 3, 4, 5]

In [40]:
# Nested list comprehension
matrix=[[j for j in range(10)] for i in range(3)]
print(matrix)

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [41]:
# List comprehension with for loop
List=[i for i in lst]
print(List)

['M', 'i', 'z', 'a', 'n', 'u', 'r', ' ', 'R', 'a', 'h', 'm', 'a', 'n']

# List:-
# Supports indexing and slicing
# Supports duplicate Values
# Ordered
# Supports Add(append,insert,extend,+), Remove(remove,pop,del)
# Mutable

# Tuple:-
# Supports indexing and slicing
# Supports duplicate Values
# Ordered
# Doesn't support add or remove 
# Immutable means it can not be modified



# Set:-
# Doesn't supports indexing and slicing
# Doesn't supports duplicate values
# Sorts itself
# Supports Union, Intersection, Difference
# Mutable

# Set

In [11]:
s={3}
type(s)

set

In [12]:
b={}
type(b)

dict

In [141]:
s={2,3,4,2,4,5,6,54,6}
s

{2, 3, 4, 5, 6, 54}

# Converting list and set

In [142]:
list(s)

[2, 3, 4, 5, 6, 54]

In [144]:
list({4}) # If we want to keep any particular element in list we must use curly braces

[4]

In [143]:
set(List3)

{1, 2, 3, 4, 6, 8, 30, 45, 46, 100, 600, 676, 1000}

In [146]:
s1={3,54,5,6,67,5}
s2={6,7,4,0,9,8,}

s1.union(s2)

{0, 3, 4, 5, 6, 7, 8, 9, 54, 67}

In [147]:
s2.union(s1)

{0, 3, 4, 5, 6, 7, 8, 9, 54, 67}

In [148]:
s1.intersection(s2)

{6}

In [149]:
s2.intersection(s1)

{6}

In [150]:
s1-s2

{3, 5, 54, 67}

In [151]:
s2-s1

{0, 4, 7, 8, 9}

In [152]:
s1

{3, 5, 6, 54, 67}

In [153]:
s2

{0, 4, 6, 7, 8, 9}

In [154]:
s1.update(s2)

In [155]:
s1

{0, 3, 4, 5, 6, 7, 8, 9, 54, 67}

In [156]:
s2.update(s1)
s2

{0, 3, 4, 5, 6, 7, 8, 9, 54, 67}

In [157]:
s1.remove(4)
s1

{0, 3, 5, 6, 7, 8, 9, 54, 67}

In [50]:
s1.clear()
s1

NameError: name 's1' is not defined

In [46]:
s4={0,3,5,6,7,8,2}
s5={9,8,7,6,6,5,4,4,3,2,1}

In [47]:
print("Intersection: ",s4.intersection(s5))

Intersection:  {2, 3, 5, 6, 7, 8}

In [48]:
print("Difference: ",s4.difference(s5))

Difference:  {0}

In [49]:
print("Symmetric difference: ",s4.symmetric_difference(s5))

Symmetric difference:  {0, 1, 4, 9}

In [51]:
# | joins the sets
print("Joing s4 and s5 using | is: ",s4|s5)

Joing s4 and s5 using | is:  {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

# Tuple:-

In [159]:
t=(2,3)
t

(2, 3)

In [160]:
type(t)

tuple

In [161]:
len(t)

2

In [162]:
t1=(3,45,56,[4,6,6]) # We can use list in tuple
t1

(3, 45, 56, [4, 6, 6])

In [168]:
t1[1]

45

In [170]:
t1[3]

[4, 6, 6]

In [171]:
type(t1[3]) # We will get the type of the value of index 3 is list because actually it is a list

list

In [172]:
# We cannot add or remove any element in tuple but we can add or remove the element of list if the list is in a tuple
t1[3][1]=1000 # the process is just updates the list
t1

(3, 45, 56, [4, 1000, 6])

In [173]:
t1[3].append(70) # This process adds the element at the end
t1

(3, 45, 56, [4, 1000, 6, 70])

In [52]:
t1[3].append('Hello') # This process adds the element at the end
t1

NameError: name 't1' is not defined